vendor/
.original/
.phpunit.result.cache
lmo/vendor/
coverage/
# Laufzeitdateien einer Installation (legt lmo-setup.php an)
lmo/config/init-parameters.php
lmo/config/lmo-auth.php
lmo/config/.defaults-stamp
lmo/config/cfg.txt
lmo/config/*/cfg.txt
lmo/addon/tipp/lmo-tippauth.txt
# Rohdaten von tests/RealData/bin/fetch_openligadb.php
tests/RealData/.cache/
