<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="lmo/vendor/autoload.php"
         colors="true"
         cacheResult="false"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="real-data">
            <directory suffix="Test.php">tests/RealData</directory>
        </testsuite>
        <testsuite name="golden-master">
            <directory suffix="Test.php">tests/GoldenMaster</directory>
        </testsuite>
    </testsuites>
</phpunit>
